.entry {
    text-align: center;
    padding: 10px;
}

.entry input {
    font-size: inherit;
    background-color: inherit;
    border: none;
}

.entry select {
    border: none;
    font-size: inherit;
}