.changePage {
    font-weight: unset;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

.changePage:active, .lastPage:active {
    color: #c98b8b;
}

.lastPage {
    font-weight: unset;
    cursor: pointer;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: end;
}