.changePage {
    font-weight: unset;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

.lastPage {
    font-weight: unset;
    cursor: pointer;
}

.currentPage input {
    color: #9a1c1c;
    background-color: inherit;
    size: auto;
    font-family: "Cambria Math", serif;
    font-size: 1em;
}

.pages {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.pages > * {
    font-family: "Cambria Math", serif;
    font-size: 1.1em;
    color: #9a1c1c;
}