.wrapper {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.hat {
    color: #3d3939;
    font-family: "Droid Sans", "Comic Sans MS", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-bottom: 1px solid black;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
}

.row * {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hat * {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}