.wrapper {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.hat {
    color: #3d3939;
    font-family: "Droid Sans", "Comic Sans MS", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-bottom: 1px solid black;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
}

.row * {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hat * {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.optionsWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.optionsWrapper select {
    margin-left: 5px;
}

.optionsWrapper > * {
    font-family: "Cambria Math", serif;
    font-size: 1.1em;
    color: #9a1c1c;
}

.even {
    background-color: #b0b0b0;
}

.bottom {
    color: #525151;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover div {
    background-color: #dc9696;
}